@import "resources/sass/app.scss";
@import "resources/sass/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Karla|Roboto+Mono&display=swap');

#home {
  background: $nearWhite;
  padding: 80px;

  .cards-container {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;

    .card {
      width: 30%;
    }
    .spacer {
      width: 30%;
    }
  }
}
