// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Karla', sans-serif;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px!important;
  font-weight: 700;
  padding: 15px 0 0 0;
  margin: 0!important;
}

a {
  color: black;
  transition: all .2s;
  &:hover {
    color: black;
    text-decoration:line-through;
  }

}

ul {
  margin: 0!important;
}

#footer {
  background-image: url(https://zupimages.net/up/19/21/pm6y.jpg);
  background-size: cover;
  height: 400px;
  background-position: bottom;
  opacity: 0.5;
  position: relative;

  #footer-title {
    h1 {
      color:black;
      text-align: center;
      display: block;
      font-family: 'Roboto Mono', monospace;
      opacity: 1;
      font-size: 15px;
      padding-top: 50px;
    }
  }
}

form {
  label {
    font-size: 15px;
  }
  input {
    margin-bottom: 10px;
    height: 30px;
  }
}
