// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Karla', sans-serif;

}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px!important;
  font-weight: 700;
  padding: 15px 0 0 0;
  margin: 0!important;
}
#header {
  background-image: url(https://zupimages.net/up/19/21/pm6y.jpg);
  background-size: cover;
  height:500px;
  background-position: bottom;
  opacity: 0.5;
  position: relative;

}
#header-title {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  h1 {
    color:black;
    text-align: center;
    display: block;
    font-family: 'Roboto Mono', monospace;
    opacity: 1;
    font-size: 15px;
    padding-top: 50px;
  }
  p {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
}
